<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class="container">

<nav class="navbar navbar-expand-lg bg-white bg-light">
    <a class="navbar-brand" href="/">Калькулятор калорий</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products">Продукты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/my-products">Мои продукты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-primary" href="/my-reports">Мои отчеты</a>
            </li>
        </ul>
    </div>
    <a class="btn btn-outline-danger ms-2" href="/logout" role="button">Выйти</a>
</nav>

<h1>Создать отчет</h1>

<form th:action="@{/api/reports}" method="post" id="form">
    <div class="form-group">
        <label for="inputStartDate">Дата начала</label>
        <input type="datetime-local" class="form-control" id="inputStartDate" name="startDate" placeholder="Введите дату начала">
    </div>
    <div class="form-group">
        <label for="inputEndDate">Дата конца</label>
        <input type="datetime-local" class="form-control" id="inputEndDate" name="endDate" placeholder="Введите дату конца">
    </div>
    <button type="submit" class="btn btn-primary mt-3">Добавить</button>
</form>

<div class="modal fade" id="formErrorModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalLabel">Кажется что-то пошло не так</h1>
            </div>
            <div class="modal-body">
                <p>Попробуйте создать еще раз</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Продолжить</button>
            </div>
        </div>
    </div>
</div>

<h1>Мои отчеты</h1>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Номер</th>
        <th scope="col">Дата начала</th>
        <th scope="col">Дата конца</th>
        <th scope="col">Статус</th>
        <th scope="col">Ссылка</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="report: ${reports}">
        <td th:text="${reportStat.index + 1}"></td>
        <td th:text="${report.startDate}"></td>
        <td th:text="${report.endDate}"></td>
        <td th:text="${report.status}"></td>
        <td>
            <a th:href="@{'/my-reports/' + ${report.id}}" class="btn btn-outline-primary" role="button">Открыть</a>
        </td>
    </tr>
    </tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

<script>
    const form = document.getElementById("form");
    const errorModal = new bootstrap.Modal(document.getElementById("formErrorModal"));

    form.addEventListener("submit", (event) => {
        event.preventDefault();

        const reportDates = Object.fromEntries(new FormData(form));
        reportDates["startDate"] = new Date(reportDates["startDate"] ? reportDates["startDate"] : "2000-01-01T05:00:00");
        reportDates["endDate"] = reportDates["endDate"] ? new Date(reportDates["endDate"]) : new Date();

        fetch(form.action, {
            method: "post",
            body: JSON.stringify(reportDates),
            headers: {
                'Content-Type': 'application/json',
            },
        }).then((response) => {
            if (!response.ok) {
                errorModal.show();
            }
            else {
                location.reload();
            }
        });
    });
</script>

</body>
</html>
